<!DOCTYPE html>
<html lang="en" ng-app="reminder">
<head>
	<meta charset="UTF-8">
	<title>Angular iCloud</title>
	<!-- angular.js的事件列表的增删改查 -->

	<link rel="stylesheet" href="css/index.css">
	<script src='js/angular.js'></script>
	<script src='js/reminder.js'></script>
	

</head>
<body ng-controller="rdCtrl">
	<div class="zuo">
		<div class="title">
			<span>icloud</span>
			<span ng-click='addshijian()' ng-dblclick="zz($event)">+</span>
		</div>
		<ul>
			<li ng-repeat="value in shijianliebiao track by $index" ng-click='showshijian($index)' ng-class='{active:listindex==$index}'>
				<span  ng-class="value.color">
					 
				</span>
				<!-- <span>{{value.name}}</span> -->
				<input type="text" ng-blur='save()'  ng-model='value.name'>
				
			</li>
		</ul>
	</div>
	<div class="you" ng-class='shijianliebiao[listindex].color'>
		<button ng-click='delItem()'>删除列表</button>
		<input type="text" ng-blur="save()" ng-model='shijianliebiao[listindex].name'>


		<span ng-repeat="value in colors" class='yuandian' ng-class='value' ng-click='shijianliebiao[listindex].colors.value=value' ng-blur="save()"></span>


 		<h1>{{shijianliebiao[listindex].name}}</h1>
		<div class="done-item">总数:	
			<span>{{shijianliebiao[listindex].items.length}}</span>
		</div>

		<ul>
			<li ng-repeat="value in shijianliebiao[listindex].items track by $index" ng-show='value.isDone'>
				<span ng-click="value.isDone=false;save()">
					{{value.isDone}}
				</span>
				<span>
					{{value.title}}
				</span>
				
			</li>
		</ul>
		<hr>
		<ul>
			<li ng-repeat="value in shijianliebiao[listindex].items track by $index" ng-hide="value.isDone">
				<span ng-click="value.isDone=true;save()">{{value.isDone}}</span>
				<!-- <span>{{value.name}}</span> -->
				<input type="text" ng-model='value.title' ng-blur='save()'>
				<button ng-click="delTodo($index)">删除</button>
			</li>
		</ul>
		<div class="new-item" ng-click='addTodo()'>点击添加新条目</div>
		
	</div>

	
</body>
</html>